<main class="container my-3">
  <div class="row py-3 align-items-center">
    <div class='col-9'>
      <div class='user'>
        <!-- <div class='user-avatar-wrapper'>
          <%#= image_tag 'anonymous.jpg', class:"user-avatar", alt:"User Profile Picture"%>
        </div> -->
        <div class='user-details-wrapper'>
          <h1 id='vid-username'><%= @video.channel_title %></h1>
          <span>
            <i class='fa fa-eye fa-fw'></i>
            <p id='current-viewers'><%= @total_visits %></p>
          </span>
          <p>is now streaming</p>
          <h2 id='vid-title'><%= @video.vid_title %></h2>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='row justify-content-center'>
        <div class='col-12 mb-4' data-intro="If you like the streamr, subscribe to their channel!" data-position="left"><!-- Subscribe button -->
        <%= link_to(subscribe_path(@params[3]), class: "btn-subscribe") do %>
          <i class='fa fa-fw fa-plus'></i>Subscribe
        <% end %>
        </div><!-- Subscribe button end -->
        <div class='col-12 mb-4'> <!-- Timer -->
          <div id='timer' data-intro="A stream lasts for 1 minute, and will switch to a new stream once this timer reaches 0" data-position="left">
          </div>
        </div><!-- Timer End-->
      </div>
    </div>
  </div>
<div id="hello">
  <span id="cat"> <%=Video.last.updated_at%> </span>
</div>
  <div class="row row-eq-height">

    <div class="col-9">
      <div class="stream-container"><!-- Videostream container -->
        <input class="video_id" name="vid_id" type="hidden" value=<%= @params[0] %>>
        <iframe class='video' id=<%= @params[0] %> width='700' height='500' src='https://www.youtube.com/embed/<%= @params[0] %>?autoplay=1&start=<%= @params[1] %>'></iframe>
      </div><!-- Videostream container end -->
    </div>

    <div class="col-3">

      <div class='row align-items-center'>
        <div class='col-4 mb-4' data-intro="If you like the streamr, click here to give them a continue token to watch another minute of their stream!" data-position="right">
          <span class='btn-keep-wrapper'>
            <input type='hidden' id="current-keeps" name="vid_id" type="hidden" value="<%= @total_keeps %>">
          </span>
          <%= button_tag(id:"btn-keep") do %>
            <div id="coin">
              <div class="coin"></div>
              <small>Continue Stream?</small>
            </div>
          <% end %>
        </div>
        <div class='col-8 mb-4'>
          <p style='margin-bottom:0; margin-left:10px;'>Give the streamr a continue token to let them continue streaming!</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <div class="progress" data-intro="This bar shows how many people want the streamr to continue. Once it's more than 50%, their stream will continue for another minute!" data-position="left">
            <div class="progress-bar d-flex justify-content-center align-items-center" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%"><span></span>
              <span class="sr-only">0%</span>
            </div>
          </div>
        </div>
      </div>
      <div class='row mt-4'>
        <div class="col-12">

          <div class='chat-wrapper' data-intro="Feel free to chat with other users on the site" data-position="left">
            <div class='chat-title'>
              <h1 class='h5'>Chatroom</h1>
            </div>
            <div id="messages" class='p-2'>
              <%= render @messages %>
            </div>

            <div id="chat-input" class='p-2'>
              <form class='chat-form form-inline'>
                <input type="text" data-behavior="room_speaker" placeholder="Say something">
                <%#= button_tag(type: "submit", id:"chat_button", class:"btn chat-button") do %>
              </form>
            </div>

            <div id="chat-username" class='p-2'>
              <%= form_tag(root_path, class:"form-inline chat-form") do %>
                <%= text_field_tag :temp_username, nil, { id: "username", placeholder:"Username" } %>
                <%= button_tag(type: "submit", id: "user_button", class:"btn chat-button") do %>
                  <i class='fa fa-paper-plane'></i>
                <% end %>
              <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</main>
