<!DOCTYPE html>
<html>
  <head>
    <title>Streamr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
  	<%= link_to "Login", login_path %>
	<% if logged_in? %>
		<span>
			<%= current_user.name %> &nbsp;
			<%= link_to "(logout)", logout_path %>
		</span>
	<% else %>
  		<%= link_to "Login", login_path %>
  	<% end %>
    <%= yield %>
  </body>
</html>